<!DOCTYPE html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <script src="https://unpkg.com/vue-resource@1.3.3"></script>
  <link rel="stylesheet" type="text/css" href="css/caniride.css"/>
</head>

<body>

<div id="app">
  <ul style="list-style-type:none">
    <li v-for="trail in trails" v-bind:id="trail.ID">
      <span v-bind:class="'dot dot-' + trail.trailOpen" v-on:click="changeOpen(trail.ID)">
          <span class="dot-inner">
          </span>
        </span>
      {{trail.trailName}}
      <ul style="list-style-type:none" v-if="trail.children==[] ? false : true">
        <li v-for="child in trail.children" v-bind:id="child.ID">
          <span v-bind:class="'dot sub-dot-' + child.trailOpen" v-on:click="changeOpen(child.ID)">
            <span class="dot-inner">
            </span>
          </span>
        {{child.trailName}}</li>
      </ul>
    </li>
  </ul>
</div>

<script src="js/caniride.js"></script>

</body>